
body{
margin-top: 175px;
background-color: #c3cfe2;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
  margin-bottom: 20px;
}

button {
    height: 15%;
    width: 20%;
    margin-left: 20%;
}

#navbar {
  left: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: black;
  color: white;
}

.navbar {
  margin-bottom: 10px;
}

#shoppe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.images {
    height: 350px;
    width: 250px;
    margin-top: 25px;
}

img{
  border: 3px solid black;
}

#item {
  margin-top: 10%;
  margin-left: 5%;
}

#cart {
    background-color: white;
    border: 3px solid black;
    display: none;
}

#shoppePop {
background-color: white;
  height: 425px;
  width: 500px;
  border: 3px solid black;
  left: 0px;
  top: 30px;
  margin-left: 30%;
  margin-top: 12%;
  position: fixed;
  display: none;
  z-index: 5;
}
#closeMe {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: white;
  height: 20px;
  width: 20px;
}
#closeMe:hover{
  cursor: pointer;
}
#text {
  position: absolute;
  left: 300px;
  top: 100px;
}

#customWords{
  font-size: 25px;
position: absolute;
left: 100px;
top: 225px;
}

#quantity {
width: 51px;
position: absolute;
top: 250px;
left: 300px;
}

#numOfTees {
margin-left: 35%;
margin-top: 1%;
}

#price {
  height: 25px;
width: 100px;
position: absolute;
left: 350px;
top: 175px;
}

#add {
height: 20px;
width: 50px;
position: absolute;
left: 300px;
top: 250px;
}

.purchases {
    height: 55px;
    width: 95%;
    margin-top: 10px;
    margin-left: 25px;
    border: 3px solid black;
    display: flex;
}
.purchases img{
  border: none;
  border-right: 3px solid black;
  height: 55px;
  width: 45px;
}
.description{
  text-align: left;
  line-height: 55px;
  text-align: center;
  width: 50%;
  height: 55px;
  border-right: 3px solid black;
}
.itemQuantity{
    line-height: 55px;
  text-align: center;
  width: 25%;
  height: 55px;
border-right: 3px solid black;
}
.cost{
    line-height: 55px;
    text-align: center;
  width: 25%;
  height: 55px;
}
#purchase {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 2%;
  font-size: 125%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

#payment {
background-color: white;
border: 3px solid black;
background-color: white;
height: 425px;
width: 500px;
border: 3px solid black;
left: 0px;
top: 30px;
margin-left: 30%;
margin-top: 12%;
position: fixed;
z-index: 6;
display: none;
}

#cash {
  margin-top: 30%;
  font-size: 200%;
  border: solid 2px;
}

#card {
  margin-top: 30%;
  font-size: 200%;
  border: solid 2px;
}

#creditOptions {
  background-color: white;
  border: 3px solid black;
  background-color: white;
  height: 400px;
  width: 500px;
  border: 3px solid black;
  left: 0px;
  top: 30px;
  margin-left: 30%;
  margin-top: 12%;
  position: fixed;
  z-index: 7;
  padding-top: 25px;
  display: none;
  flex-direction: column;
}

#cardC {
  margin-top: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 30%;
border: solid 2px;
height: 30px;
}

#expDate {
  margin-top: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 30%;
border: solid 2px;
height: 30px;
}

#cvv {
  margin-top: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 30%;
border: solid 2px;
height: 30px;
}

.pay {
margin-top: 10%;
margin-left: 50%;
transform: translateX(-50%);
font-size: 200%;
border: solid 2px;
}

#cashMoney {
  background-color: white;
  border: 3px solid black;
  background-color: white;
  height: 425px;
  width: 500px;
  border: 3px solid black;
  left: 0px;
  top: 30px;
  margin-left: 30%;
  margin-top: 12%;
  position: fixed;
  z-index: 8;
  display: none;
}

#total {
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 30%;
  border: solid 2px;
  height: 30px;
  line-height: 30px;
}

#amountTendered {
  padding: 3px;
  border: solid 2px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
  height: 30px;
}

#change {
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 30%;
  border: solid 2px;
  height: 30px;
  line-height: 30px;
}

#receipt {
  background-color: #c3cfe2;
  border: 3px solid black;
  height: 425px;
  width: 500px;
  border: 3px solid black;
  left: 0px;
  top: 30px;
  margin-left: 30%;
  margin-top: 12%;
  position: fixed;
  z-index: 9;
  display: none;
}

#goodbye {
  margin-left: 25%;
}

h2 {
  text-align: center;
}
