body{
margin-top: 175px;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
}

button {
    height: 15%;
    width: 20%;
    margin-left: 20%;
}

#navbar {
  left: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: white;
}

.navbar {
  margin-bottom: 10px;
}

#shoppe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
}

.images {
    height: 350px;
    width: 250px;
    margin-top: 25px;
}

img{
  border: 3px solid black;
}

#item{
  margin-top: 5%;
  margin-left: 125px;
}

#cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 3px solid black;
}

#shoppePop{
background-color: white;
  height: 500px;
  width: 500px;
  border: 3px solid black;
  margin-left: 30%;
  margin-top: 10%;
  position: absolute;
}

#text {
  margin-left: 33%;
}

#quantity {
width: 20px;
margin-left: 33%;
margin-top: 8px;
}

#add {
height: 20px;
width: 50px;
}

.purchases {
    height: 55px;
    width: 35px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 25px;
}

#payment {
background-color: green;
border: 3px solid black;
background-color: white;
height: 500px;
width: 500px;
border: 3px solid black;
margin-left: 30%;
margin-top: 10%;
position: absolute;
}

#creditOptions {
background-color: green;
border: 3px solid black;
background-color: white;
height: 500px;
width: 500px;
border: 3px solid black;
margin-left: 30%;
margin-top: 10%;
position: absolute;
}

#cashMoney {
background-color: green;
border: 3px solid black;
background-color: white;
height: 500px;
width: 500px;
border: 3px solid black;
margin-left: 30%;
margin-top: 10%;
position: absolute;
}

#receipt{
  background-color: white;
  height: 500px;
  width: 500px;
  border: 3px solid black;
  margin-left: 30%;
  margin-top: 10%;
  position: absolute;
}

@media (min-width: 1320px) {

}
