body{
margin-top: 175px;

}
h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
}

button {
    height: 15%;
    width: 20%;
    margin-left: 20%;
}
#navbar{
  left: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: blue;
}
.navbar{
  margin-bottom: 10px;
}
#shoppe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
}

.images {
    height: 350px;
    width: 250px;
    background-color: blue;
    margin-top: 25px;
}
img{
  border: 3px solid black;
}
#item{
  margin-top: 10px;
  margin-left: 10px;
}
#cart {
    display: flex;
    flex-direction: column;
    background-color: yellow;
      border: 3px solid black;
}

#shoppePop{
background-color: red;
  height: 500px;
  width: 300px;
  border: 3px solid black;
}
#payment{
background-color: green;
border: 3px solid black;
}
#receipt{
  background-color: purple;
  border: 3px solid black;
}
.purchases {
    height: 30px;
    width: 85px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 25px;
}
@media (min-width: 1320px) {

}
